<h1>Users#new</h1>
<%= simple_form_for @funcionario do |f| %>
  <%= f.simple_fields_for :margem do |field| %>
    <%= field.collection_check_boxes :margem_ids, Margem.all, :id, :desc %>
  <% end %>
<% end %>
